In [9]:
print(100 * 3); print(10); print(3)

300
10
3

In [10]:
for i in range(3):
    print(i)
print("실행종료")

0
1
2
실행종료

In [13]:
# 연산자 (+, -, *, /, %, //, **)
print(10 + 5)
print(10 - 5)
print(10 / 5)
print(10 * 5)
print(10 % 3) # 나머지
print(10 // 3) # 몫
print(10 ** 2) # 제곱승
print(10 ** 3)

# 리터럴 : 자연어(숫자: 정수 리터널, 실수 리터럴)

# 문자 리터널 : '', "", """, ''' 사용하여 정의
# 문자열 연산자 : +, *

15
5
2.0
50
1
3
100
1000

In [17]:
print("Life is too short, You need python")

str1 = "Life is too short, You need python"
print(str1)

Life is too short, You need python
Life is too short, You need python

In [20]:
print('''Life is too short, 
      You need python''')

Life is too short,
      You need python

In [25]:
head = "Python "
tail = "is fun"
print("=" * 30)
print(head + tail) # 연결연산자
print(head * 3)
print("=" * 30)

==============================
Python is fun
Python Python Python
==============================

In [47]:
# Indexing
a = "Life is too short"
#    01234567890123456  # 문자열의 문자마다 순번이 이것을 index 라고 함
#              1
#    76543210987654321  -
#           1
print(a[2])
print(a[16])
print(len(a))
print(a[len(a)-1])
print(a[-1]) # print(a[16])
print(a[-15]) # print(a[2])

# Life 가져오기
print(a[0], a[1], a[2], a[3])
print(a[0] + a[1] + a[2] + a[3])

# Slicing
print(a[0:4]) # 0번부터 4번 이전
print(a[12:12+5])
print(a[-5:])

f
t
17
t
t
f
L i f e
Life
Life
short
short

In [51]:
a = "20010331Rainy"
birth = a[:8]
name = a[8:]
print(birth)
print(name)
year = a[:4]
print(year)
month = a[4:4+2]
print(month)
day = a[6:6+2]
print(day)

20010331
Rainy
2001
03
31

In [62]:
# TONY의 계좌번호 1111에는 100원이 들어 있습니다.
name = "TONY"
account = "1111"
money = 100

# 문자열 포맷팅
# print(name + "의 계좌번호 " + account + "에는 " + money + "원이 들어 있습니다.")# 숫자리터럴에서 연결 오류 발생
print("%s의 계좌번호 %s에는 %d원이 들어 있습니다." %(name, account, money))
print("{}의 계좌번호 {}에는 {}원이 들어 있습니다.".format(name, account, money))

# TONY의 나이는 40살이구요 키는 177.1 입니다.
age = 40
height = 177.1
print("%s의 나이는 %d살이구요 키는 %f 입니다." % (name, age, height)) # Float 소숫점 6자리가 기본
print("%s의 나이는 %d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%s의 나이는 %10d살이구요 키는 %.1f 입니다." % (name, age, height)) # 숫자 10자리 우측정렬
print("%s의 나이는 %-10d살이구요 키는 %.1f 입니다." % (name, age, height)) # 숫자 10자리 좌측정렬
print("%10s의 나이는 %10d살이구요 키는 %.1f 입니다." % (name, age, height))
print("%-10s의 나이는 %-10d살이구요 키는 %.1f 입니다." % (name, age, height))

TONY의 계좌번호 1111에는 100원이 들어 있습니다.
TONY의 계좌번호 1111에는 100원이 들어 있습니다.
TONY의 나이는 40살이구요 키는 177.100000 입니다.
TONY의 나이는 40살이구요 키는 177.1 입니다.
TONY의 나이는         40살이구요 키는 177.1 입니다.
TONY의 나이는 40        살이구요 키는 177.1 입니다.
      TONY의 나이는         40살이구요 키는 177.1 입니다.
TONY      의 나이는 40        살이구요 키는 177.1 입니다.

In [67]:
# format 함수를 사용한 포매팅
name = "TONY"
account = "1111"
money = 100

print("%s의 계좌번호 %s에는 %d원이 들어 있습니다." % (name, account, money))
print("{1}의 계좌번호 {0}에는 {2}원이 들어 있습니다.".format(account, name, money))

TONY의 계좌번호 1111에는 100원이 들어 있습니다.
TONY의 계좌번호 1111에는 100원이 들어 있습니다.

In [68]:
name = "TONY"
age = 40
height = 177.1

# TONY의 나이는 40살이구요 키는 177.1 입니다.
a = "{0}의 나이는 {a}살이구요 키는 {h}입니다.".format(name, a = age, h = height)
print(a)

TONY의 나이는 40살이구요 키는 177.1입니다.

In [69]:
# TONY의 계좌번호 1111에는 100원이 들어 있습니다.
name = "TONY"
account = "1111"
money = 100

a = f"{name}의 계좌번호 {account}에는 {money}원이 들어 있습니다."
print(a)

TONY의 계좌번호 1111에는 100원이 들어 있습니다.

In [84]:
# 문자열을 가공하기 위한 문자열 함수
a = 'Life is too short, You need python'
print(a.count('o')) # 문자 'o' 갯수
print(a.find('n')) # 문자 'n' 의 위치
print(a[a.find('n'): a.find('n') + 4])
print(a[23: 23 + 4])
print(a.find('need'))
print(a.find('s', 7)) # index 7 이후의 s 를 찾는다
print(a.find('x')) # -1
print(a.index('n'))
print(a.index('need'))
print(a.index('s', 7))
#print(a.index('x')) # index 는 찾지 못하면 에러발생
print(a.rindex('n')) # 오른쪽에서부터 찾기
print(a.rfind('n')) # 오른쪽에서부터 찾기

5
23
need
need
23
12
-1
23
23
12
33

In [106]:
a = 'Life is too short, You need python'
print(a)
print(a.lower())
print(a.upper())
l = a.split() # 공백문자로 구분
print(l) # 리스트

s = "Life:is:too:short,:You:need:python"
l = s.split(":") # : 문자로 구분
print(l)
print("abcd")
s = "    abcd  "
print(s)
print(s.strip())
s = "    ab cd  "
print(s)
print(s.strip())
print(s.rstrip())
print(s.lstrip())
s = "ab cd"
print(s.strip("ab"))
a = "Life is too short, You need python"
print(a) # Your leg is too short, You need python
print(a.replace("Life", "Your leg"))
digit = "01046137044"
print(digit.isdigit()) # True
digit = "010-4613-7044"
print(digit.isdigit()) # False
alpha = "abcd"
print(alpha.isalpha())# True
alpha = "ab cd"
print(alpha.isalpha()) # False
print(a.islower())
print(a.isupper())

Life is too short, You need python
life is too short, you need python
LIFE IS TOO SHORT, YOU NEED PYTHON
['Life', 'is', 'too', 'short,', 'You', 'need', 'python']
['Life', 'is', 'too', 'short,', 'You', 'need', 'python']
abcd
    abcd
abcd
    ab cd
ab cd
    ab cd
ab cd
 cd
Life is too short, You need python
Your leg is too short, You need python
True
False
True
False
False
False

In [114]:
# 숫자 리터럴 : 정수, 실수
# 문자 리터럴 : "a", 'a', '''a''', """a""", "10", a:변수 : 영어, 한국어, 중국어
# 리스트 자료형 : []
l = ["TONY", "FREDDIE", "KIM"] # 문자열이 있는 리스트
print(l)
# 각각의 자료형 확인
i = 10
str1 = "TONY"
print(type(i))
print(type(str1))
print(type(l))

l = ["TONY", 100, 10.5] # 혼합형 리스트
print(type(l))

['TONY', 'FREDDIE', 'KIM']
<class 'int'>
<class 'str'>
<class 'list'>
<class 'list'>

In [116]:
a = ["TONY", 40, 171.1, [1,2,3]] # 리스트 포함한 혼합형 리스트
print(a)
a = [[1,2,3], [4,5,6]] # 리스트를 포함한 리스트
print(a)
a = [] # 빈리스트
print(a)
a = "Life:is:too:short"
c = a.split(":")
print(c)

['TONY', 40, 171.1, [1, 2, 3]]
[[1, 2, 3], [4, 5, 6]]
[]
['Life', 'is', 'too', 'short']

In [126]:
a = "Life is too short"
#    01234567890123456
#              1
print(a)
print(a[8])
l = ['Life', 'is', 'too', 'short']
#     0       1     2      3
print(l[2])
s = l[2]
print(type(s)) # 문자열 : too
#                         012
print(l[2][1])
print(l[1] + l[2]) # 'is' + 'too'
print(l[-2])

Life is too short
t
too
<class 'str'>
o
istoo
too

In [127]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2   3
#               0    1    2
print(a[3][1]) # b

b

In [133]:
a = "Life is too short"
#    01234567890123456
#              1
print(a[8:8+3]) # slicing
l = ["Life", "is", "too", "short"]
#    0       1     2      3
#    4       3     2      1
print(l[1:1+2])
print(l[-3:-3+1])
print(l[1])
l[0] = "Your leg"
print(l)

too
['is', 'too']
['is']
is
['Your leg', 'is', 'too', 'short']

In [135]:
# 리스트 함수
l = ["Life", "is", "too", "short"]
del l[2] # ['Life', 'is', 'short']
print(l)
del l[0:0+2] # slicing 을 이용한 삭제
print(l)

['Life', 'is', 'short']
['short']

In [138]:
l = ["Life", "is", "too", "short"]
del l[1:]
print(l)
l.append('is')
print(l)
l.append('too')
print(l)
l.append('short')
print(l)

['Life']
['Life', 'is']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']

In [152]:
# 데이터 정렬
a = [1, 4, 2, 3]
a.sort() # 데이터 원본을 변경하기 때문에 print 에서 출력할 수 없다.
print(a)
a = [1, 4, 2, 3]
a.reverse()
print(a)
print(a.index(3))
# print(a.find(3)) # 리스트에는 find 가 없다. 문자열 함수
print(a)
a.insert(2, 6)
print(a)
a.remove(4)
print(a)
a.append(6)
print(a)
a.remove(6)
print(a)
a.append(6)
print(a)
print(a.count(6))

[1, 2, 3, 4]
[3, 2, 4, 1]
0
[3, 2, 4, 1]
[3, 2, 6, 4, 1]
[3, 2, 6, 1]
[3, 2, 6, 1, 6]
[3, 2, 1, 6]
[3, 2, 1, 6, 6]
2

In [161]:
a = [1, 4, 2, 5, 4, 3]
del a[4] # 인덱스로 삭제
print(a)
a.remove(3) # 값으로 삭제
print(a) # [1, 4, 2, 5]
b = a.pop() # 마지막 데이터를 가져오고 삭제
print(a) # [1, 4, 2]
print(b) 
b = a.pop(1) # 인덱스로 pop
print(b)

[1, 4, 2, 5, 3]
[1, 4, 2, 5]
[1, 4, 2]
5
4

In [166]:
a = [1, 4, 2, 5, 4, 3]
a.sort(reverse=True) # 내림차순 정렬
print(a)
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b # 연결 연산자
print(c)
print(a * 3) # 반복 연산자
a.extend([9,8,7])
print(a)

[5, 4, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 9, 8, 7]

In [169]:
a = [1, 4, 2, 5, 4, 3]
# 크기
print(len(a))
# 삭제
del a[1]
a.remove(4)
a.pop()
a.pop(2)
# 추가 및 삽입 그리고 확장
a.append(4)
a.insert(3, 6)
a.extend([4,5,6])
# 정렬
a.sort()
a.reverse()
a.sort(reverse=True)
print(a)
c = ['Life', 'is', 'too', 'short']
d = " ".join(c) # 리스트를 문자열로 변환
print(d)
# 요소 번호 찾기
print(a.index(5))

6
[6, 6, 5, 4, 4, 2, 1]
Life is too short
2

In [170]:
# 숫자 자료형 : 10, 10.5
# 문자 자료혈 : '', "", """ """, ''' '''
# 리스트 자료형 : []
# 튜플 자료형 : ()
l = [1,2,3,4]
t = (1,2,3,4)
t1 = ("TONY", 12, [1,2,3], (4,5,6))
#     0       1   2        3
print(t1[2])
print(t1.index(12))
l[1] = 10
print(l)
# t[1] = 10 # 튜플은 요소값 변경을 못한다

[1, 2, 3]
1

In [171]:
l = []
t = ()
l1 = [1]
t1 = (1,) # (1) 은 연산자로 처리되므로 ,를 추가하여 튜플로 생성한다
l2 = (1,2)
t2 = (1,2)
print(t1)
print( (4) * 5)

1
20

In [174]:
# 딕셔너리 : 키와 값이 하나의 쌍으로 되어 있는 자료형
# {Key:Value1, Key2:Value2, Key3:Value, ...}
# html : json 자료형과 같다...
name = "TONY"
age = 40
height = 177.1
dic = {'name': 'TONY', 'age': 40, 'height': 177.1}
# 딕셔너리는 index 가 없다
print(dic['name'])
print(dic['age'])
dic['name'] = 'FREDDIE'
print(dic)
l = [1,2,3,4]
#    0 1 2 3
l[3] = 10
print(l)
#l[4] = 20
dic['add'] = '성남' # 키가 없으면 추가
print(dic)
d = {1: 'TONY', 1: 'FREDDIE'} # 키 중복을 허용하지 않는다
print(d)

TONY
40
{'name': 'FREDDIE', 'age': 40, 'height': 177.1}
[1, 2, 3, 10]
{'name': 'FREDDIE', 'age': 40, 'height': 177.1, 'add': '성남'}
{1: 'FREDDIE'}

In [177]:
dic = {'name': 'TONY', 'age': 40, 'height': 177.1}
dic['add'] = '성남' # 키가 없으면 추가
print(dic)
del dic['add']
print(dic)

{'name': 'TONY', 'age': 40, 'height': 177.1, 'add': '성남'}
{'name': 'TONY', 'age': 40, 'height': 177.1}

In [188]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
# pey라는 사람의 년도, 월, 일을 따로 출력
print(dic)
print(dic['birth'][:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])
print(dic.keys())
print(dic.values())
print(dic.items())
print(dic['name'])
print(dic.get('name'))
#print(dic['money'])
print(dic.get('money'))

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
1999
11
18
dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '19991118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '19991118')])
pey
pey
None

In [195]:
dic1 = {'classic' : 500, "pop" : 600}
dic2 = {'classic' : 500, "pop" : 600, "money" : 100}
print(dic1['classic'] + dic2['classic'])
# print(dic1['money'] + dic2['money']) # Key 없음 에러
# print(dic1.get('money') + dic2.get('money')) # None + 100 으로 에러
print(dic1.get('money',0) + dic2.get('money'))

1000
100

In [198]:
# 부울타입 / True / False
a = True  # 참
b = False # 거짓
i = 10
s1 = "10"
s = "True"
dic = {'name' : 'TONY', 'age': 40, 'height': 177.1}
print(type(a))
print(type(b))
print(type(s))
print(type(dic))

<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'dict'>

In [212]:
x = 10; y = 20 ; z = 30
a = x < y
print(a)
# 비교 연산자의 결과값은 부울타입
a = x > y
print(a)


# 부울과 부울 타입끼리 연산 : 논리 연산
a = x > y or x < z
print(a)

a = x > y and x < z # 논리 연산은 비교연산자와 함께 사용한다(비교연산자의 결과값이 부울타입)
print(a)

a = 'TONY' and x < z
print(a)

a = [1,2,3,4] and x < z
print(a)

True
False
True
False
True
True

In [213]:
print(bool('TONY')) # True
print(bool("")) # False
print(bool([1,2,3,4])) # True
print(bool([])) # False
print(bool((1,2,3,4))) # true
print(bool(())) # False

print(bool(0)) # False
print(bool(-1)) # True
print(bool(1)) # True
print(bool(None)) # False
print(bool({})) # False

True
False
True
False
True
False
False
True
True
False
False

In [220]:
# 2200 년은 윤년일까요(True)? 평년일까요(False)>
# 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다

year = 2200
a = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(a)

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0 :
    print("윤년")
else:
    print("평년")

False
평년

In [231]:
# 파이썬 변수 선언법
a = b = c = 0 # 다른 언어에서의 변수 선언
print(a, b, c)
a, b = 'python', 'life'
print(a, b)
a, b = ('python', 'life') # 튜플로 선언
print(a, b)
(a, b) = 'python', 'life' # 튜플에 값 선언
print(a, b)
(a, b) = ([1,2,3,4], 'life')
print(a, b)
(a, b) = [[1,2,3,4], 'life']
print(a, b)
(a, b, c) = [[1,2,3,4], 'life', [3,4,5]]
print(a, b, c)

0 0 0
python life
python life
python life
[1, 2, 3, 4] life
[1, 2, 3, 4] life
[1, 2, 3, 4] life [3, 4, 5]

In [230]:
# 값바꾸기. 파이썬에서는 안하는 방법
a = 3
b = 4

c = a
a = b
a = c

print(a, b)

# 파이썬에서 값 바꾸기
a = 3
b = 4
a, b = b, a
print(a, b)

4 3

파이썬 자료형에는<br />
숫자, 문자열, 리스트, 튜플, 딕셔너리, 부울, 집합

In [233]:
# 제어문
# bool 타입을 이용해서 원하는 결과를 얻어 오는 것을 말한다.
# 조건문 : 여러개의 명령문 중 하나를 선택하는 것
# 조건식을 사용한다
# 조건식 뒤에는 ":"를 꼭 적어준다
# 조건식에 맞는 명령문이 실행되기 위해서는 들여쓰기가 되어야 한다.
# 들여쓰기는 탭이나 공백을 사용하는데 둘 다 사용하면 에러발생(보통 탭을 사용)

# 단일 조건문
'''
if 조건식 : # 부울 타입
    명령어1
    명령어2
    ...
명령어
'''

# 2900원 이상 돈이 있으면 버스를 타고 가세요.
money = 3000

if money >= 2900:
    print("버스를 타고 가세요")
print("명령문 끝")

버스를 타고 가세요
명령문 끝

In [234]:
# 2900원 이상 돈이 있으면 버스를 타고 가세요.
money = 2800

if money >= 2900:
    print("버스를 타고 가세요")
print("명령문 끝")

명령문 끝

In [236]:
# if ~ else
# 2900원 이상 돈이 있으면 버스를 타고 가세요.
money = 2800

if money >= 2900: # True
    print("버스를 타고 가세요")
else: # False
    print("걸어가시오")
print("명령문 끝")

걸어가시오
명령문 끝

In [237]:
x = 10; y = 20 
print( x== y ) # 결괏값은 bool 타입
print( x > y )
print( x < y )
print( x >= y )
print( x <= y )
print( x != y )

if x > y:
    print("x가 y보다 크다")
else:
    print("x가 y보다 작다")

False
False
True
False
True
True

In [240]:
a = 4 in [1,2,3,4,5] # bool type
print(a)
if 4 in [1,2,3,4,5] :
    print("리스트안에는 4가 있습니다")
else:
    print("리스트안에는 4가 없습니다")

True
리스트안에는 4가 있습니다

In [244]:
a = 7 in [1,2,3,4,5] # bool type
print(a)

a = 7 not in [1,2,3,4,5] # bool type
print(a)


if 7 not in [1,2,3,4,5]: # not True = False, not False = True
    print("7이 없습니다")
else:
    print("7이 있습니다")
    
print('j' in "python")
print('j' not in "python")

False
True
7이 없습니다
False
True

In [245]:
# score가 90이상이면 A, 80 이상이면 B, 70 이상이면 C, 60 이상이면 D
# 그렇지 않으면 F

score = 78

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

C

In [247]:
# 95이상이면 A+ 이하면 A
# 85이상이면 B+ 이하면 B
# 75이상이면 C+ 이하면 C
# 65이상이면 D+ 이하면 D

score = 78

if score >= 90:
    if score >= 95:
        print("A+")
    else:
        print("A")
elif score >= 80:
    if score >= 85:
        print("B+")
    else:
        print("B")
elif score >= 70:
    if score >= 75:
        print("C+")
    else:
        print("C")
elif score >= 60:
    if score >= 65:
        print("D+")
    else:
        print("D")
else:
    print("F")

C+

In [248]:
if score >= 60:
    message = 'success'
else:
    message = 'failure'
print(message)

success

In [249]:
message = 'success' if score >= 60 else 'failure'
print(message)

success

In [250]:
a, b = 10, 20; opt = 'add'

if opt == "add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else:
    result = a / b

print(result)

30

In [251]:
if opt == "add":
    result = a + b
else:
    if opt == "sub":
        result = a - b
    else:
        if opt == "mul":
            result = a * b
        else:
            result = a / b

print(result)

30

In [256]:
result = a + b if opt == "add" else (a - b if opt == "sub" 
                                     else (a * b if opt == "mul" else a / b))
print(result)

30