In [1]:
import pandas as pd
import numpy as np

In [3]:
pop = pd.Series([33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561], index=['a','b','c','d','e','f'])
pop

a    33871648
b    37253956
c    18976457
d    19378102
e    20851820
f    25145561
dtype: int64

In [4]:
index=['a','b','c','d','e','f']
pop = pd.Series([33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561], index=index)
pop

a    33871648
b    37253956
c    18976457
d    19378102
e    20851820
f    25145561
dtype: int64

In [6]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [7]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [18]:
l = []
for i in pop.index:
    if i[1] == 2010:
        l.append(pop[i])
print(l)

[37253956, 19378102, 25145561]

In [22]:
l = [[pop[i] for i in pop.index if i[1] == 2010]]
l

[[37253956, 19378102, 25145561]]

In [23]:
pop[[('California', 2010),('New York', 2010),('Texas', 2010)]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [8]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [24]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [25]:
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [26]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [27]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [28]:
pop_df = pop.unstack() # DataFrame
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [29]:
pop_sir = pop_df.stack() # Series
pop_sir

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [30]:
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [31]:
pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [33]:
pop_df['under18'], pop_df['total']

(California  2000    9267089
             2010    9284094
 New York    2000    4687374
             2010    4318033
 Texas       2000    5906301
             2010    6879014
 Name: under18, dtype: int64,
 California  2000    33871648
             2010    37253956
 New York    2000    18976457
             2010    19378102
 Texas       2000    20851820
             2010    25145561
 Name: total, dtype: int64)

In [34]:
pop_df['under18'] / pop_df['total']

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

In [35]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [37]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'b', 'c', 'd']],
                  columns=['data1', 'data2'])
df

      data1     data2
a  0.372098  0.085591
b  0.084675  0.286240
c  0.901390  0.172750
d  0.349397  0.756599

In [38]:
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.952205  0.615174
  2  0.302616  0.640841
b 1  0.029379  0.412722
  2  0.365404  0.554133

In [39]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64